@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
this document holds all the css that is common among multiple .html files.
this is where the navigation bar and footer code are. the html code is copy/paste.
*/
:root {
	--navy-theme: #253150;
	--green-theme:#49C155;
	--text-color-override: white;
	--override-white: white;
}
*{
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	height: 100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}

.coverImage {
	background-image: url(/images/stock.jpg);
}

#modalBtn {
	margin: 0;
	border: 0px;
	cursor: pointer;
	width:100%;
	background-color: var(--green-theme);
	color: var(--text-color-override);
	font-weight: bold;
	padding: 0.3rem;
	font-size:0.7rem;
	-webkit-transition: opacity ease-in 0.1s;
	-o-transition: opacity ease-in 0.1s;
	transition: opacity ease-in 0.1s;
}

#modalBtn:hover,
#modalmodalBtn:focus{
	opacity: 0.8;
}

.main-content {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
}
.navbar .desktop {
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	background-color: var(--navy-theme);
}
/* .desktop is the subclass of navbar to differentiate between this and the mobile version */
.desktop {
	padding: 0;
	margin: 0;
}

.navbar .desktop a {
	padding: 0;
	margin: 0;
	height: 100%;
	text-transform: uppercase;
	font-family: 'Roboto';
	overflow: hidden;
	-o-text-overflow: initial;
	   text-overflow: initial;
	font-size: 1.25rem;
	text-align: center;
	line-height: 2rem;
	text-decoration: none;
	color: var(--override-white);
	padding: 0.5rem 1rem;
	-webkit-transition: background-color linear 0.1s;
	-o-transition: background-color linear 0.1s;
	transition: background-color linear 0.1s;
}

.navbar .desktop a:hover{
	background-color: var(--green-theme);
}

.navbar .mobile {
	background-color: var(--navy-theme);
	width:100%;
	display:none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* .mobile-nav-container is the wrapper for the list items for the mobile navigation bar */
.mobile-nav-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: center;
	line-height:1rem;
}

.mobile-nav-container > a{
	width:100%;
	text-decoration: none;
	color: var(--override-white);
	line-height: 2rem;
	font-family: 'merriweather Sans';
}

.mobile-nav-container a:hover {
	background-color: var(--green-theme);
	-webkit-transition: all linear 0.1s;
	-o-transition: all linear 0.1s;
	transition: all linear 0.1s;
}

/* below changes the toggle icon when opening the navigation bar. */
.menu-Toggle::before{
	font-family: fontAwesome;
	line-height:2.5rem;
	font-size: 1.5rem;
	content: '\f0c9';
	color: var(--override-white);
	cursor: pointer;
}

.menu-Toggle.active::before{
	font-size: 1.5rem;
	content: '\f00d';
}
.menu{
	width: 100%;
	display: none;
}
.active {
	display:block;
}

/* below is all content formatting cover image */

.coverImage{
	color: var(--override-white);
	font-family: 'Merriweather',sans-serif;
	text-transform: uppercase;
	height:400px;
	width: 100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-size: cover;
}

.coverImage h1 {
	font-size: 2.2rem;
	text-shadow: 2px 3px 4px black;
	letter-spacing: 0.35rem;
}

/* below is the formatting for the textBody of each page */
.textBody{
	text-align: left;
}

.textBody h3 {
	margin-top: 0.5rem;
	text-align: center;
	font-family: 'Roboto';
}
div.flexImg{
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}
img.flexImg {
	max-width: 600px;
}
.listDescriptor{
	text-align: center;
}

.bulletList {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 60%;
}

ol {
	text-align: center;
	margin:1em 0 1em 6em;
	/* list-style-position: inside; */
	/* list-style: disc; */

}

ol li {
	font-family: 'Merriweather Sans', sans-serif;
	padding-bottom: 1rem;
	text-align: left;
	display:list-item;
}
.youtubeLink {
	position: relative;
	margin: 1rem;
	padding-bottom:56.25% ;
}

.video-wrapper {
	margin: 0rem auto;
	display: block;
	text-align: center;
	max-width: 700px;
}
iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.textBody p {
	font-family: 'Merriweather Sans', sans-serif;
	padding: 0rem 16rem;
	padding-top: 1rem;
	padding-bottom: 3rem;
}

.textBody iframe{
	width: 100%;
}

/* below is the code for the footer that is common */
footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-family: 'Merriweather',sans-serif;
	-ms-flex-line-pack: center;
	    align-content: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: var(--override-white);
	background-color: var(--navy-theme);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	padding:0.5rem 0.2rem 1rem 0.2rem;
}

footer a{
	color: var(--override-white);
}

footer div {
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	padding: 0;
	border: 0.25rem solid var(--override-white);
	border-top: none;
	line-height: 1.5rem;
	margin: 0.5rem 1.5rem;
	border-radius: 0rem;
}

footer div h3 {
	text-align: center;
	/* text-transform: uppercase; */
	letter-spacing: 0.2rem;
	border: 0.25rem solid var(--override-white);
	border-left: none;
	border-right: none;
	padding: 0.5rem;
}
#center div{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.socialMediaLinks {
	font-size: 1.5rem;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.socialMediaLinks a:hover {
	color: #49C155;
}

.socialMediaLinks,
.socialMediaLinks div {
	border: none;
}


.contactLinks {
	display: block;
	border:none;
}

.contactLinks.desktop {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.contactLinks.mobile{
	display: none;
}


#left p, #center p, #right div{
	padding: 0rem 0.5rem;
	text-align: center;
}

#left {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#left h3 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

#center {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#center h3 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}
#right{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding: 0;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#right h3 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
}

		@media only screen and (max-width: 1110px){
			/* common */
			.bulletList {
				max-width: 50%;
			}
			.textBody p{
				padding: 0rem 5rem;
				padding-top: 1rem;
				padding-bottom: 2rem;
			}
			.navbar .desktop{
				text-align: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
			}

			.navbar .desktop a{
				-webkit-box-flex:1;
				    -ms-flex:1 1 auto;
				        flex:1 1 auto; 
				line-height: 1.75;
				font-size: 1rem;
			}
			/* index */
			/* home */
			/* baiting */
			/* ransomware */
			/* pre-texting */
			/* phishing */
			/* spear-phishing */
			/* water-holing */
			/* vishing */
		}
		/* Desktop Resizing formatting */
		@media only screen and (max-width: 940px){
			/* common */			
			.bulletList{
				max-width:100%;
				padding:0;
				margin: 0;
			}
			ol{
				list-style-position: inside;
				margin:0;
				margin-left:1.2rem;
			}
			.textBody p{
				padding: 0rem 2rem;
				padding-bottom: 3rem;
			}
			.navbar .desktop a{
				-webkit-box-flex: 1;
				    -ms-flex: 1 1 auto;
				        flex: 1 1 auto;
				padding: 0.35rem;
				margin: 0;
				line-height: 3rem;
				font-size: 0.9rem;
			}

			footer {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}
			/* index */
			/* home */
			.cover h1 {
				font-size: 1.75rem;
			}

			/* baiting */
			/* ransomware */
			/* pre-texting */
			/* phishing */
			/* spear-phishing */
			.video-wrapper {
				max-width: 80%;
			}
			.youtubeLink {
				margin:1rem 0;
			}
			/* water-holing */
			/* vishing */

		}
		/* Tablet media Query */
		@media only screen and (max-width: 820px){
			/* common */
			
			.textBody p{
				padding: 0rem 2rem;
				padding-top: 0.5rem;
				padding-bottom: 3rem;
			}
			.navbar .desktop {
				display:none;
			}
			.navbar .mobile {
				font-size: 1.2rem;
				line-height:1.5rem;
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
			}

			.coverImage {
				height: 300px;
			}
			

			/* index */
			.landingPage-desktop {
				height: 0%;
				display:none;
			}
			.landingPage-mobile {
				position: unset;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}
			/* home */
			.cover {
				height: 300px;
			}

			.cover h1, .coverImage:not(#disableFontResize) h1 {
				font-size: 1.5rem;
				text-align: center;
			}

			.breaker {
				display: block;
			}
			/* baiting.html */
			/* ransomware.html */
			/* pre-texting.html */
			/* phishing.html */
			/* spear-phishing.html */
			/* water-holing.html */
			/* vishing.html */
		}
		
		@media only screen and (max-width:600px){
			.textBody {
				margin: 0;
				padding: 0rem 0rem;
			}
			/* footer.html */
			.contactLinks.desktop {
				display: none;
			}
			.contactLinks.mobile {
				display:-webkit-box;
				display:-ms-flexbox;
				display:flex;
				
				-webkit-box-pack: center;
				
				    -ms-flex-pack: center;
				
				        justify-content: center;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-box-flex: 1;
				    -ms-flex: 1 1;
				        flex: 1 1;
			}

			.contactLinks.mobile div{
				border:none;
				-webkit-box-flex: 1;
				    -ms-flex: 1 1;
				        flex: 1 1;
			}
			.contactLinks.mobile a i{
				font-size: 1.4rem;
			}
			.contactLinks.mobile a:hover{
				color: #49C155;
			}

			/* spear-phishing */
			.video-wrapper {
				max-width: 100%;
			}
			/* ransomware */
			img.flexImg {
				max-width: 100%;
			}
		}

		@media(prefers-color-scheme: dark){
			.textBody a{
				color: var(--green-theme);
			}
			body{
				background-color: rgb(27, 27, 27);
				color:var(--override-white);
			}

			.coverImage{
				position: relative;
			}
			.coverImage::before{
				content: '';
				position: absolute;
				top:0;
				right:0;
				left: 0;
				bottom: 0;
				background-color:rgba(30, 30, 30, .5) ;
			}

			div.flexImg{
				position: relative;
			}
			div.flexImg::before{
				content:'';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(30, 30, 30, .2);
			}
			
			.coverImage h1{
				position: relative;
				color: white;
			}
			
			:root{
				--green-theme: #308a3b;
				--navy-theme: rgb(44, 44, 44);
				--text-color-override: #49C155;
				--override-white: rgb(212, 212, 212);
			}

			footer div {
				-webkit-box-sizing: border-box;
				        box-sizing: border-box;
			}
			h3{
				border:2px solid var(--override-white);
				width: auto;
				margin: auto 7rem;
				padding:0.5rem 0;
				color:var(--text-color-override);
			}
			footer div h3{
				margin:unset;
				color:var(--override-white);
				text-decoration: none;
			}
		}

