@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* 
this document holds all the css that is common among multiple .html files.
this is where the navigation bar and footer code are. the html code is copy/paste.
*/

*{
	padding: 0;
	margin: 0;
}



.navbar .desktop {
	width:100%;
	display:flex;
	flex-direction: row;
	background-color: #253150;
}
/* .desktop is the subclass of navbar to differentiate between this and the mobile version */
.desktop {
	padding: 0;
	margin: 0;
}

.navbar .desktop a {
	padding: 0;
	margin: 0;
	height: 100%;
	text-transform: uppercase;
	font-family: 'Roboto';
	overflow: hidden;
	text-overflow: initial;
	font-size: 1.25rem;
	text-align: center;
	line-height: 2rem;
	text-decoration: none;
	color: white;
	padding: 0.5rem 1rem;
	transition: background-color linear 0.1s;
}

.navbar .desktop a:hover{
	background-color: #49C155;
}

.navbar .mobile {
	background-color: #253150;
	width:100%;
	display:none;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}

/* .mobile-nav-container is the wrapper for the list items for the mobile navigation bar */
.mobile-nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	line-height:1rem;
}

.mobile-nav-container a{
	width:100%;
	text-decoration: none;
	color: white;
	line-height: 2rem;
	font-family: 'merriweather Sans';
}

.mobile-nav-container a:hover {
	background-color: #49C155;
	transition: all linear 0.1s;
}

/* below changes the toggle icon when opening the navigation bar. */
.menu-Toggle::before{
	font-family: fontAwesome;
	line-height:2.5rem;
	font-size: 1.5rem;
	content: '\f0c9';
	color: white;
	cursor: pointer;
}

.menu-Toggle.active::before{
	content: '\f00d';
}
.menu{
	width: 100%;
	display: none;
}
.active {
	display:block;
}

/* Tablet media Query */
@media only screen and (max-width: 768px){
	/* common */
	.navbar .desktop {
		display:none;
	}
	.navbar .mobile {
		font-size: 1.2rem;
		line-height:1.5rem;
		display:flex;
	}

	/* home */
	.cover {
		height: 200px;
	}

	.cover h1 {
		font-size: 1rem;
		text-align: center;

	}

	.breaker {
		display: block;
	}
	/* baiting */
	/* ransomware */
	/* pre-texting */
	/* phishing */
	/* spear-phishing */
	/* water-holing */
	/* vishing */
}

/* Desktop Resizing formatting */
@media only screen and (max-width: 940px){
	/* common */
	.navbar .desktop a{
		flex: 1 1 auto;
		padding: 0;
		margin: 0;
		line-height: 3rem;
		font-size: 0.9rem;
	}

	/* home */
	.cover h1 {
		font-size: 1.75rem;
	}

	/* baiting */
	/* ransomware */
	/* pre-texting */
	/* phishing */
	/* spear-phishing */
	/* water-holing */
	/* vishing */

}
/* Desktop Resizing formatting */
@media only screen and (max-width: 1096px){
	/* common */
	.navbar .desktop{
		text-align: center;
		align-items: center;
	}
	/* home */
	/* baiting */
	/* ransomware */
	/* pre-texting */
	/* phishing */
	/* spear-phishing */
	/* water-holing */
	/* vishing */
	.navbar .desktop a{
		flex:1 1 auto; 
		line-height: 1.75;
		font-size: 1rem;
	}
	/* home */
	/* baiting */
	/* ransomware */
	/* pre-texting */
	/* phishing */
	/* spear-phishing */
	/* water-holing */
	/* vishing */
}