

.main-content {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(var(--navy-theme),1);
}


form {
	color: white;
	box-sizing: border-box;
	margin: 1rem;
	display:flex;
	width: 60vw;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.form-row{
	margin:0.5rem;
	display:flex;
	flex-direction: row;
	width:100%;
}

::placeholder {
	color:grey;
}

.form-row *{
	font-size: 1.1rem;
	color:white;
	padding: 0.5rem;
	margin: 0.3rem;
	background-color: var(--navy-theme);
	border: var(--override-white) solid 0.2rem;
	flex: 1;
}

#modalBtn {
	display:none;
}

.form-row *:focus {
	outline: white;
}

#message {
	overflow: auto;
	display: block;
	resize: none;
	min-height: 200px;
}

/* #message[contenteditable]:empty::before {
} */

#submit {
	background-color: rgba(var(--navy-theme),1);
	border: var(--override-white) solid 0.2rem;
	padding: 0.3rem 4rem;
	color: var(--text-color-override);
	transition: all 0.1s ease-in;
}

#submit:hover{
	cursor: pointer;
	background-color: var(--green-theme);
}


@media only screen and (max-width: 800px){
	form {
		width: 80vw;
	}
	.form-row{	
		flex-direction: column;
	}
}
