html{
	font-size: 16px;
}

body {
	padding:0;
	margin:0;
}

.navbar {
	display:flex;
	flex-direction: row;
	background-color: #253150;
	
}

.navbar a {
	text-transform: uppercase;
	font-family: 'Roboto';
	text-decoration: none;
	color: white;
	padding: 8px 16px 8px 16px;
	transition: background-color linear 0.1s;
}

.navbar a:hover{
	background-color: #49C155;
}


.textBody h1{font-family: 'Roboto';}
.textBody p {
	font-family: 'Merriweather Sans', sans-serif;
}