@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html{
	font-size: 16px;
}

body {
	padding:0;
	margin:0;
}

.navbar {
	display:flex;
	flex-direction: row;
	background-color: #253150;
	
}

.navbar a {
	text-transform: uppercase;
	font-family: 'Roboto';
	text-decoration: none;
	color: white;
	padding: 8px 16px 8px 16px;
	transition: background-color linear 0.1s;
}

.navbar a:hover{
	background-color: #49C155;
}


.textBody h1{font-family: 'Roboto';}
.textBody p {
	font-family: 'Merriweather Sans', sans-serif;
}