@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
	font-size: 16px;
}

body{
	background-color: #253150;
	margin: 0px;
	padding: 0px;
}



.landingPage-desktop {
	/* text positioning */

	margin: 0;
	padding: 0;
	position: absolute;
	top:30%;
	width: 100%;

	/* Overall font properties */

	font-family: 'Roboto', serif;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	color: #49C155;
	font-size: 1.5rem;
	text-align: center;
	display: block;
}

.landingPage-mobile {
	display: none;
	padding: 15rem 0;
	font-family: 'Roboto', serif;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	color: #49C155;
	font-size: 1.5rem;
	text-align: center;
}

#landingPage_Welcome {
	letter-spacing: 2rem;
	margin-bottom: 3rem;
}

.landingPage-mobile #landingPage_Welcome {
	letter-spacing: 1rem;
	margin-bottom: 1rem;

}

.link {
	padding-top: 2rem;
}


.link a{
	color: #49C155;
	text-decoration: none;
	padding:0.375rem 0.75rem;
	border: 0.25rem solid #49C155;
	letter-spacing: 0.25rem;
	border-radius: 1rem;
	transition: all linear .1s;
}

.link a:hover {
	background-color: #49C155;
	color: #253150;
}