.modal {
	/* color:var(--text-color-override); */
	display: none;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height:100%;
	overflow: auto;
	/* z-index: 999; */
	/* background-color: rgba(0, 0, 0, 0.9); */
}

a {
	color: var(--text-color-override);
}



.modal-content {

	display: none;

	font-family: "Roboto",sans-serif;
	border-radius: 8px;
	background-color: rgba(var(--navy-theme),1);
	position: relative;
	-webkit-animation: animateModal;
	        animation: animateModal;
	-webkit-animation-duration: 0.4s;
	        animation-duration: 0.4s;
	margin: 15% 10%;
}

.modal-header {
	display: -webkit-box;
	display: -ms-flexbox;
	/* display: flex; */
	display:none;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-radius:8px 8px 0 0 ;
	text-align: center;
	font-family: "Merriweather",sans-serif;
	padding: 8px;
	margin: 0;
	margin-bottom: 8px;
	background-color: var(--green-theme);
}

.modal-header .close{
	padding-right: 10px;
}

.modal-body {
	padding: 8px 8px;
}

.close {
	color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	float:right;
	font-size: 36px;
	-webkit-transition: color ease-in 0.2s;
	-o-transition: color ease-in 0.2s;
	transition: color ease-in 0.2s;
}
-webkit-.close {
	color:red;
}

.close:hover,
.close:focus {
	color: rgba(0, 0, 0, 1);
	text-decoration: none;
	cursor: pointer;
}


@-webkit-keyframes animateModal {
	from {top:-300px;opacity: 0;}
	to {top:0;opacity: 1;}
}


@keyframes animateModal {
	from {top:-300px;opacity: 0;}
	to {top:0;opacity: 1;}
}